## Content based filtering

In [1]:
# Loading packages
import pandas as pd
from math import sqrt
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Loading data
movies_df = pd.read_csv('Data/movies.csv')
ratings_df = pd.read_csv('Data/ratings.csv')

In [3]:
print(movies_df)

       movieId                               title  \
0            1                    Toy Story (1995)
1            2                      Jumanji (1995)
2            3             Grumpier Old Men (1995)
3            4            Waiting to Exhale (1995)
4            5  Father of the Bride Part II (1995)
...        ...                                 ...
34203   151697                   Grand Slam (1967)
34204   151701                   Bloodmoney (2010)
34205   151703         The Butterfly Circus (2009)
34206   151709                         Zero (2015)
34207   151711        The 2000 Year Old Man (1975)

                                            genres
0      Adventure|Animation|Children|Comedy|Fantasy
1                       Adventure|Children|Fantasy
2                                   Comedy|Romance
3                             Comedy|Drama|Romance
4                                           Comedy
...                                            ...
34203                                     Thriller
34204                           (no genres listed)
34205                                        Drama
34206                                 Drama|Sci-Fi
34207                           (no genres listed)

[34208 rows x 3 columns]